input[type=text],[type=password]{
	border-radius: 2px;
	border: 2px solid yellow;
}

.sesamestreet, input[type=number]{
	color:yellow;
	background:#00AA00;
	border-radius: 2px;
	border: 2px solid yellow;

}

input[type=number]{
	width:3em;
	
}

.point-through {
	pointer-events:none;
}
body{
	background-image:url("../img/seamless.png");
	text-shadow:1px 1px black;
	color:#EEEEEE;
}
.fcount{
	color:#FFFFFF;
	z-index:50;
	
	
}
.moveInd{
	color:#000000;
	z-index:50;
	text-shadow:1px 1px grey;
}
.citycount{
	color:#FFFF00;
	z-index:50;
	text-shadow:2px 2px black;
	
	
}
button{
	float:left;
}
.razeBtn{
	background:orange;border-radius:4px;border:2px solid yellow
	color:black;
}
.blBtn{
	background:cyan;border-radius:4px;border:2px solid magenta;
	color:black;
}
.endBtn{
	margin-left:10px;background:grey;border-radius:4px;border:2px solid yellow;
	color:black;
}
button:hover{
	background:white;
}
.centerbox{
width:200px;margin:0 auto;padding:10px;border:1px solid white;background:gray;overflow-x:auto
}
.warning{
	color:red;
}
h1{
	font-size:1.5em;
}
input[type=button], input[type=submit]{
	color:yellow;
	background:#00AA00;
	border-radius: 2px;
	border: 2px solid yellow;
}


.outline{
float:left;border: 1px solid yellow;padding:3px;border-radius:2px;margin:2px;
}

.plainlink{
	text-shadow:none;color:cyan;
}